.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #031f94;
    color: white;
    box-shadow:0 5px 15px rgba(0,0,0,0.06) ;

}
#menuItems{
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar-logo {
    
    top: 0;
    left: 0;
    max-width: 100px;
  }

#menuItems li{
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#menuItems li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}

#menuItems li a:hover{
    color: yellow;

}

#menuItems li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}